.button{
    padding: 16px 52.2px 15.4px 52px;
    border-radius: 25px;
    background-image: $degrade;
    max-width: 180px;

    font-family: $poppins;
    font-size: 12px;
    font-weight: $bold;
    line-height: 1.5;
    text-align: center;
    color: $white;
    text-decoration: none;
}