//COLOR
$grey            : #42495b;
$lightgrey       : #7a839e;
$white           : #FFFFFF;
$smokewhite      : #f6f7fb;
$purple          : #7e76f9;
$Backgroundpurple: hsla(244, 92%, 72%, 0.15);
$blue            : #1000ff;
$degrade         : linear-gradient(to left, #6156f9, #1a129f);
$bottomdegrade   : linear-gradient(to bottom, #6156f9, #1a129f);

//FONT
$dosis           : 'Dosis',sans-serif;
$lato            : 'Lato',sans-serif;
$poppins         : 'Poppins',sans-serif;
$bold            : 600;
$regular         : 500;
$light           : 300;

//OTHERS
$shadow          : 0 10px 20px 0 rgba(126, 118, 249, 0.16);